<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="always">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="https://gss0.bdstatic.com/5bd1bjqh_Q23odCf/static/wiseindex/img/favicon64.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="https://gss0.bdstatic.com/5bd1bjqh_Q23odCf/static/wiseindex/img/screen_icon_new.png">
    <title>中国海军节来临之际，055有新动作，或将和辽宁舰共同出席盛宴</title>
    <link rel="stylesheet" href="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/css/land_min_pack_a631a0c.css">
    <meta itemprop="dateUpdate" content="2019-04-03 18:31:12" /></head>

<body>
<script>/* eslint-disable */
var s_domain = {
    "protocol": "https:",
    "staticUrl": "https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/",
    "base": "",
    "baseuri": "",
    "passconf": "http://passport.baidu.com/ubrwsbas",
    "logout": "https://passport.baidu.com/?logout&u=",
    "bs": "https://www.baidu.com",
    "sp": "http://hi.baidu.com/",
    "ssllist": {
        "a.hiphotos.baidu.com": "ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy",
        "b.hiphotos.baidu.com": "ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy",
        "c.hiphotos.baidu.com": "ss3.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy",
        "d.hiphotos.baidu.com": "ss0.baidu.com/-Po3dSag_xI4khGko9WTAnF6hhy",
        "e.hiphotos.baidu.com": "ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy",
        "f.hiphotos.baidu.com": "ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy",
        "g.hiphotos.baidu.com": "ss3.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy",
        "h.hiphotos.baidu.com": "ss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy",
        "1.su.bdimg.com": "ss0.bdstatic.com/k4oZeXSm1A5BphGlnYG",
        "t10.baidu.com": "ss0.baidu.com/6ONWsjip0QIZ8tyhnq",
        "t11.baidu.com": "ss1.baidu.com/6ONXsjip0QIZ8tyhnq",
        "t12.baidu.com": "ss2.baidu.com/6ONYsjip0QIZ8tyhnq",
        "himg.bdimg.com": "ss1.bdstatic.com/7Ls0a8Sm1A5BphGlnYG",
        "cdn00.baidu-img.cn": "ss0.bdstatic.com/9bA1vGba2gU2pMbfm9GUKT-w",
        "cdn01.baidu-img.cn": "ss0.bdstatic.com/9bA1vGfa2gU2pMbfm9GUKT-w"
    }
};
var s_session = {
    "ssid": "0",
    "logid": "",
    "sid": "",
    "nid": "9603953551461162439",
    "qid": ""
};
var s_advert = {
    "isBjh": "1",
    "contentUrl": "http://baijiahao.baidu.com/s?id=1629783852752241725",
    "contentPlatformId": "3",
    "contentType": "1",
    "pvid": "3a039ba14e000f42",
    "time": "2019-04-04 16:26:06",
    "contentAccType": "1",
    "ctk": "3d81e28543dc57b6",
    "contentAccId": "JQf2GpQLtbIczRY4B",
    "ctk_b": "0a282667fd470b79",
    "logid": "1566585985",
    "dtime": "1554366366",
    "grade": "3",
    "createTimeAccLevel": "4"
};</script>
<script>/* eslint-disable */
var bds = {
    se: {},
    su: {
        urdata: [],
        urSendClick: function() {},
        urStatic: "https://ss.bdimg.com"
    },
    util: {},
    use: {},
    comm: {
        domain: "",
        ubsurl: "",
        tn: "",
        queryEnc: "",
        queryId: "",
        inter: "",
        sugHost: "",
        query: "",
        qid: "",
        cid: "",
        sid: "",
        stoken: "",
        serverTime: "",
        user: "",
        username: "",
        loginAction: [],
        useFavo: "",
        pinyin: "",
        favoOn: "",
        curResultNum: "0",
        rightResultExist: false,
        protectNum: 0,
        zxlNum: 0,
        pageNum: 1,
        pageSize: 10,
        ishome: 1,
        newindex: 1
    }
};
var name, navigate, al_arr = [];
var selfOpen = window.open;
eval("var open = selfOpen;");
var isIE = navigator.userAgent.indexOf("MSIE") != -1 && !window.opera;
var E = bds.ecom = {};
bds.se.mon = {
    loadedItems: [],
    load: function() {},
    srvt: -1
};
try {
    bds.se.mon.srvt = parseInt(document.cookie.match(new RegExp("(^| )BDSVRTM=([^;]*)(;|$)"))[2]);
    document.cookie = "BDSVRTM=;expires=Sat, 01 Jan 2000 00:00:00 GMT"
} catch(e) {}
var bdUser = bds.comm.user ? bds.comm.user: null,
    bdQuery = bds.comm.query,
    bdUseFavo = bds.comm.useFavo,
    bdFavoOn = bds.comm.favoOn,
    bdCid = bds.comm.cid,
    bdSid = bds.comm.sid,
    bdServerTime = bds.comm.serverTime,
    bdQid = bds.comm.queryId,
    bdstoken = bds.comm.stoken,
    login_success = [];</script>
<div id="detail-page">
    <div class="line-shadow"></div>
    <div id="content-container" class="content-container clearfix" data-showlog="tid:126;cst:1;logInfo:landing;" data-extralog="flow:2;st:news;rid:9603953551461162439;pos:0;extra:;source:1;isBaijiahao:1;login:0;appId:1537654908000495;" data-ratio="1" data-rid="page">
        <div class="item-wrap">
            <div id="header_wrap" class="header_wrap">
                <div class="header_content">
                    <div class="header_logo">
                        <a href="https://www.baidu.com" id="result_logo" data-clklog="tid:139;cst:2;logInfo:head_logo;" data-extralog="rid:;pos:;extra:;isBaiJiaHao:1;login:0;" data-rid="head_0">
                            <img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/img/logo_top.png" alt="到百度首页" title="到百度首页"></a>
                    </div>
                    <div class="header_menu" data-rid="header_menu">
                        <a href="https://www.baidu.com" class="index" data-clklog="tid:142;cst:2;logInfo:head_menu" data-extralog="rid:;pos:;extra:;isBaiJiaHao:1;login:0;type:backindex" data-rid="head_1">百度首页</a>
                        <div id="userBlock">
                            <a href="https://passport.baidu.com/v2/?login&tpl=mn&u=http://www.baidu.com" class="login" data-clklog="tid:142;cst:2;logInfo:head_menu;" data-extralog="rid:;pos:;extra:;isBaiJiaHao:1;login:0;type:login" data-rid="head_2">登录</a>
                            <a href="http://i.baidu.com/" id="usrname" class="usrname" data-clklog="tid:142;cst:2;logInfo:head_menu;" data-extralog="rid:;pos:;extra:;isBaiJiaHao:1;login:0;type:usrname;" data-rid="head_2">
                                <span id="nametxt"></span>
                                <i class="c-icon"></i>
                            </a>
                            <div id="user_menu" data-showlog="tid:131;cst:1;logInfo:usrmenu;" data-extralog="rid:;pos:;extra:;isBaiJiaHao:1;login:0;" class="s-isindex-wrap s-user-set-menu menu-top" style="display: none;">
                                <div>
                                    <a href="http://i.baidu.com/center" target="_blank" data-tid="1000" data-clklog="tid:146;cst:2;logInfo:usrmenu;" data-extralog="rid:;pos:1;extra:;isBaiJiaHao:1;login:0;type:center;" data-rid="usr_menu_1">个人中心</a>
                                    <a href="http://passport.baidu.com/" data-tid="1001" target="_blank" data-clklog="tid:146;cst:2;logInfo:usrmenu;" data-extralog="rid:;pos:2;extra:;isBaiJiaHao:1;login:0;type:passport;" data-rid="usr_menu_2">帐号设置</a>
                                    <a class="s-feedback" style="overflow:hidden" href="#" onclick="return false;" data-clklog="tid:146;cst:2;logInfo:usrmenu;" data-extralog="rid:;pos:3;extra:;isBaiJiaHao:1;login:0;type:feedback;" data-rid="header_menu_3">意见反馈</a>
                                    <a class="quit" style="overflow:hidden" href="https://passport.baidu.com/?logout&u=https://www.baidu.com" data-clklog="tid:146;cst:2;logInfo:usrmenu;" data-extralog="rid:;pos:4;extra:;isBaiJiaHao:1;login:0;type:quit;" data-rid="usr_menu_4">退出</a></div>
                                <span class="menu-arrow">
                      <em></em>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="left-container" class="left-container">
            <div class="item-wrap">
                <div class="article " id="article" data-islow-browser="0">
                    <div class="article-title">
                        <h2>中国海军节来临之际，055有新动作，或将和辽宁舰共同出席盛宴</h2></div>
                    <div class="article-desc clearfix">
                        <div class="author-icon">
                            <img src="https://timg01.bdimg.com/timg?pa=&amp;Imgtype=0&amp;sec=1439619614&amp;di=d258ac4bdb228b4294fbf459029c8d4c&amp;quality=90&amp;size=w870&amp;src=http%3A%2F%2Fpic.rmb.bdstatic.com%2F15d3e599c8799acda613022e6622530f.jpeg"></div>
                        <div class="author-txt">
                            <p class="author-name">空军世界</p>
                            <div class="article-source article-source-bjh">
                                <span class="date">04-03</span>
                                <span class="time">18:30</span></div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>
                            <span class="bjh-p">4月23日是我国的海军节，在这一盛大节日即将来临的时候中国海军有了新动作，国产万吨级驱逐舰055型驱逐舰第一次抵达青岛港，值得关注的是和辽宁舰停靠在了一起，也意味着我国海军的航母编队实力再次得以提升。对于中国海军来说055型驱逐舰的加入，大幅度的提高了饱和攻击的能力，而且在反舰和反舰等方面也有了很大的提升，这也为将来的整体作战能力打下了基础。</span></p>
                        <div class="img-container">
                            <img class="large" data-loadfunc=0 src="https://pics0.baidu.com/feed/cf1b9d16fdfaaf51fb59584173c309eaf11f7a36.jpeg?token=ea1449fb475054f4bb9af913af780546&amp;s=16A4F0055003D1594E85298B0300F092" data-loaded=0 /></div>
                        <p>
                            <span class="bjh-p">目前我国海军的航母编队主要的护航舰艇有052C和052D驱逐舰，此外还有054A护卫舰，随着055型驱逐舰服役部队之后，估计054护卫舰可能会逐渐从航母护航编队中撤出，也就是说我国海军的航母护卫舰将会全部升级为驱逐舰，因为这种舰艇的吨位大，载弹量更多作战能力也更加的强悍。</span></p>
                        <div class="img-container">
                            <img class="large" data-loadfunc=0 src="https://pics7.baidu.com/feed/eaf81a4c510fd9f977f271ad25b5492e2a34a4ad.jpeg?token=cba2b09b9e995d1b10b5e44f7361ceb2&amp;s=35A4D114562B450F12AC3CD10300C0B8" data-loaded=0 /></div>
                        <p>
                            <span class="bjh-p">此外舰艇的垂直发射单元的数量也是一个重要的标准，据悉055型驱逐舰拥有112个垂直发射单元这已经超过了美军的伯克级驱逐舰，比提康德罗加巡洋舰稍微差一点，相比之下海军的052C型驱逐舰仅有48个垂直发射单元，还没有055发射单元的一半多，最重要的是052只能发射HQ9舰空导弹。</span></p>
                        <div class="img-container">
                            <img class="large" data-loadfunc=0 src="https://pics1.baidu.com/feed/8d5494eef01f3a2921580f0b67b221355e607cfb.jpeg?token=e244af18f1d1faf8047f1e01501b5467&amp;s=EE85B044CCBBB44D600B8C880300A08B" data-loaded=0 /></div>
                        <p>
                            <span class="bjh-p">而且055型驱逐舰还拥有两个机库，能搭载两架舰载直升机而052驱逐舰仅仅只能搭载一架直升机，从未来的发展来看增加舰载直升机的数量是必然的取值，通过国内外的海军舰艇就能看得出来，对抗潜艇的能力和舰载反潜直升机的数量有着很大的关系。</span></p>
                        <div class="img-container">
                            <img class="large" data-loadfunc=0 src="https://pics5.baidu.com/feed/562c11dfa9ec8a13c2d6898ef69b0c8ba1ecc029.jpeg?token=1211c9d15bc6e13a1418a33d40a80c58&amp;s=F784DD092EFA97C616BFC8CC030070AB" data-loaded=0 /></div>
                        <p>
                            <span class="bjh-p">最重要的是055型驱逐舰的很多能力是052驱逐舰所不具备的，最重要的就是反导能力，因为055长辈了大孔径的雷达，采用的是双波段综合射频技术，这大大的增强了055大驱的雷达探测能力，能够有效的拦截导弹。可以说装备055大驱之后的中国海军，在未来的海战中将会更加的所向披靡，同时也让我们更加的期待海军节上辽宁舰航母编队的共同亮相。</span></p>
                    </div>
                    <audio height="0" width="0" id="musicAudio" data-play-index>
                        <source></source>
                    </audio>
                </div>
            </div>
            <div class="item-wrap">
                <div class="search-diversion" data-showlog="tid:840;cst:1;logInfo:related_search;" data-extralog="itemNum:6;" data-rid="search-diversion">
                    <h2>相关搜索
                        <span class="icon"></span></h2>
                    <ul>
                        <li data-clklog="tid:841;cst:2;logInfo:related_search;" data-extralog="pos:0;">
                            <a href="https://www.baidu.com/s?word=%E4%B8%AD%E5%9B%BD%E6%B5%B7%E5%86%9B2017%E6%96%B0%E8%88%B0&amp;rsv_dl=0_feed_brs_0&amp;rsf=14632437403939248_1">中国海军2017新舰</a></li>
                        <li data-clklog="tid:841;cst:2;logInfo:related_search;" data-extralog="pos:1;">
                            <a href="https://www.baidu.com/s?word=%E4%B8%AD%E5%9B%BD%E6%8A%A4%E5%8D%AB%E8%88%B0%E5%A4%A7%E5%85%A8&amp;rsv_dl=0_feed_brs_1&amp;rsf=14632437403939248_1">中国护卫舰大全</a></li>
                        <li data-clklog="tid:841;cst:2;logInfo:related_search;" data-extralog="pos:2;">
                            <a href="https://www.baidu.com/s?word=%E4%B8%AD%E5%9B%BD%E8%88%B0%E8%89%87%E5%A4%A7%E5%85%A8&amp;rsv_dl=0_feed_brs_2&amp;rsf=14632437403939248_1">中国舰艇大全</a></li>
                        <li data-clklog="tid:841;cst:2;logInfo:related_search;" data-extralog="pos:3;">
                            <a href="https://www.baidu.com/s?word=%E4%B8%AD%E5%9B%BD%E6%9C%89%E5%A4%9A%E5%B0%91%E9%A9%B1%E9%80%90%E8%88%B0&amp;rsv_dl=0_feed_brs_3&amp;rsf=14632437403939248_1">中国有多少驱逐舰</a></li>
                        <li data-clklog="tid:841;cst:2;logInfo:related_search;" data-extralog="pos:4;">
                            <a href="https://www.baidu.com/s?word=%E4%B8%AD%E5%9B%BD%E6%8A%A4%E5%8D%AB%E8%88%B0%E5%9E%8B%E5%8F%B7&amp;rsv_dl=0_feed_brs_4&amp;rsf=14632437403939248_1">中国护卫舰型号</a></li>
                        <li data-clklog="tid:841;cst:2;logInfo:related_search;" data-extralog="pos:5;">
                            <a href="https://www.baidu.com/s?word=%E6%B5%B7%E5%86%9B%E5%9B%BE%E7%89%87&amp;rsv_dl=0_feed_brs_5&amp;rsf=14632437403939248_1">海军图片</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="right-container" class="right-container">
            <div class="item-wrap">
                <div class="author">
                    <div class="author-info clearfix">
                        <div class="author-icon">
                            <img src="https://timg01.bdimg.com/timg?pa=&amp;Imgtype=0&amp;sec=1439619614&amp;di=d258ac4bdb228b4294fbf459029c8d4c&amp;quality=90&amp;size=w870&amp;src=http%3A%2F%2Fpic.rmb.bdstatic.com%2F15d3e599c8799acda613022e6622530f.jpeg"></div>
                        <div class="author-txt">
                            <p class="author-name">空军世界</p>
                            <div class="article-source">
                                <span>最近更新：</span>
                                <span class="date">04-03</span>
                                <span class="time">18:30</span></div>
                        </div>
                    </div>
                    <div class="author-desc">
                        <p>简介:空军世界，中国资深航空迷网络杂志</p>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="recent-article" data-pos="">
                    <h2>作者最新文章</h>
                        <ul>
                            <li data-showlog="tid:135;cst:1;logInfo:recent_article;" data-extralog="rid:;pos:0;extra:;isBaiJiaHao:1;login:0;" data-rid="recent_article_0">
                                <h3 class="item-title">
                                    <a href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9004317069559761715%22%7D&amp;n_type=1&amp;p_from=3" data-clklog="tid:147;cst:2;logInfo:recent_article;" data-extralog="rid:;pos:0;extra:;isBaiJiaHao:1;login:0;" target="_blank">俄罗斯海军有了大动作，100艘军舰研发提上日程：下饺子了</a></h3>
                                <div class="item-desc hide">
                                    <span class="info-date">04-03</span>
                                    <span class="info-time">21:58</span></div>
                            </li>
                            <li data-showlog="tid:135;cst:1;logInfo:recent_article;" data-extralog="rid:;pos:1;extra:;isBaiJiaHao:1;login:0;" data-rid="recent_article_1">
                                <h3 class="item-title">
                                    <a href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9519495003740423743%22%7D&amp;n_type=1&amp;p_from=3" data-clklog="tid:147;cst:2;logInfo:recent_article;" data-extralog="rid:;pos:1;extra:;isBaiJiaHao:1;login:0;" target="_blank">看着都烫，中国火箭筒发射完毕全筒赤红，夜晚暴露出致命弱点</a></h3>
                                <div class="item-desc hide">
                                    <span class="info-date">04-03</span>
                                    <span class="info-time">18:45</span></div>
                            </li>
                            <li data-showlog="tid:135;cst:1;logInfo:recent_article;" data-extralog="rid:;pos:2;extra:;isBaiJiaHao:1;login:0;" data-rid="recent_article_2">
                                <h3 class="item-title">
                                    <a href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9532844904640598744%22%7D&amp;n_type=1&amp;p_from=3" data-clklog="tid:147;cst:2;logInfo:recent_article;" data-extralog="rid:;pos:2;extra:;isBaiJiaHao:1;login:0;" target="_blank">丈夫战场不幸遇难，妻子为复仇倾尽全部家产买坦克：真惹不起</a></h3>
                                <div class="item-desc hide">
                                    <span class="info-date">04-03</span>
                                    <span class="info-time">18:31</span></div>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="item-wrap">
                <div class="related-news">
                    <div class="news-content ">
                        <h2>相关文章</h2>
                        <ul>
                            <li data-showlog="tid:136;cst:1;logInfo:related_news;" data-extralog="flow:2;rid:;pos:0;extra:;isBaiJiaHao:1;login:0;" data-rid="related_news_0">
                                <div class="item-content clearfix">
                                    <div class="news-pic">
                                        <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:0;extra:;isBaiJiaHao:1;login:0;type:'img'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9231507980500436088%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">
                                            <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1540188071,36659343&amp;fm=173&amp;app=49&amp;f=JPEG?w=218&amp;h=146&amp;s=179451851A0022414A858D8C0300609B"></a>
                                    </div>
                                    <div class="news-info">
                                        <div class="news-title">
                                            <h3>
                                                <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:0;extra:;isBaiJiaHao:1;login:0;type:'title'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9231507980500436088%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">国际专家：我们所知道的004型航母，将很快出现在中国海军序列中</a></h3>
                                        </div>
                                        <div class="news-desc">
                                            <span class="info-num">强国军情</span>
                                            <span class="info-date">03-30</span></div>
                                    </div>
                                </div>
                            </li>
                            <li data-showlog="tid:136;cst:1;logInfo:related_news;" data-extralog="flow:2;rid:;pos:1;extra:;isBaiJiaHao:1;login:0;" data-rid="related_news_1">
                                <div class="item-content clearfix">
                                    <div class="news-pic">
                                        <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:1;extra:;isBaiJiaHao:1;login:0;type:'img'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9736044291389213049%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">
                                            <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1785284386,826655091&amp;fm=173&amp;app=49&amp;f=JPEG?w=218&amp;h=146&amp;s=A79FA46C4410106D1E2A7F900300C09D"></a>
                                    </div>
                                    <div class="news-info">
                                        <div class="news-title">
                                            <h3>
                                                <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:1;extra:;isBaiJiaHao:1;login:0;type:'title'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9736044291389213049%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">“180度大转变”，法国宣布新命令，不再跟随美国巡航南海</a></h3>
                                        </div>
                                        <div class="news-desc">
                                            <span class="info-num">123观察室</span>
                                            <span class="info-date">03-29</span></div>
                                    </div>
                                </div>
                            </li>
                            <li data-showlog="tid:136;cst:1;logInfo:related_news;" data-extralog="flow:2;rid:;pos:2;extra:;isBaiJiaHao:1;login:0;" data-rid="related_news_2">
                                <div class="item-content clearfix">
                                    <div class="news-pic">
                                        <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:2;extra:;isBaiJiaHao:1;login:0;type:'img'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9131178596644356131%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">
                                            <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=4040627415,994187071&amp;fm=173&amp;app=49&amp;f=JPEG?w=218&amp;h=146&amp;s=5C84A755327B22275895D903030060E1"></a>
                                    </div>
                                    <div class="news-info">
                                        <div class="news-title">
                                            <h3>
                                                <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:2;extra:;isBaiJiaHao:1;login:0;type:'title'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9131178596644356131%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">亚洲第一海军当之无愧，军舰总量加起来超过200万吨，对手都服气</a></h3>
                                        </div>
                                        <div class="news-desc">
                                            <span class="info-num">大国将令</span>
                                            <span class="info-date">03-30</span></div>
                                    </div>
                                </div>
                            </li>
                            <li data-showlog="tid:136;cst:1;logInfo:related_news;" data-extralog="flow:2;rid:;pos:3;extra:;isBaiJiaHao:1;login:0;" data-rid="related_news_3">
                                <div class="item-content clearfix">
                                    <div class="news-pic">
                                        <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:3;extra:;isBaiJiaHao:1;login:0;type:'img'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9200779744214378564%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">
                                            <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=883422649,1600303966&amp;fm=173&amp;app=49&amp;f=JPEG?w=218&amp;h=146&amp;s=8AB24E8177FB1980140879020300E0C3"></a>
                                    </div>
                                    <div class="news-info">
                                        <div class="news-title">
                                            <h3>
                                                <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:3;extra:;isBaiJiaHao:1;login:0;type:'title'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9200779744214378564%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">无视中俄反对，日本下定决心做此事，俄：日本暴露野心</a></h3>
                                        </div>
                                        <div class="news-desc">
                                            <span class="info-num">大国军史</span>
                                            <span class="info-date">04-02</span></div>
                                    </div>
                                </div>
                            </li>
                            <li data-showlog="tid:136;cst:1;logInfo:related_news;" data-extralog="flow:2;rid:;pos:4;extra:;isBaiJiaHao:1;login:0;" data-rid="related_news_4">
                                <div class="item-content clearfix">
                                    <div class="news-pic">
                                        <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:4;extra:;isBaiJiaHao:1;login:0;type:'img'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9407287230770680352%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">
                                            <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=185211592,3206095217&amp;fm=173&amp;app=49&amp;f=JPEG?w=218&amp;h=146&amp;s=ECC7AC447A14045FC4342D940300C088"></a>
                                    </div>
                                    <div class="news-info">
                                        <div class="news-title">
                                            <h3>
                                                <a class="upgrade" data-clklog="tid:148;cst:2;logInfo:related_news;" data-extralog="rid:;pos:4;extra:;isBaiJiaHao:1;login:0;type:'title'" href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9407287230770680352%22%7D&amp;n_type=1&amp;p_from=4" target="_blank">忒慢啦！航母启动要10小时？你以为60吨开水是那么好烧的吗？！</a></h3>
                                        </div>
                                        <div class="news-desc">
                                            <span class="info-num">武器正能量</span>
                                            <span class="info-date">04-01</span></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="relateAd" ad-id="relate-js" class="wangmeng-ad" data-showlog="tid:369;cst:1;logInfo:adsjs;" data-clklog="tid:370;cst:2;logInfo:adsjs;" data-extralog="rid:;pos:5;extra:;baijiahao:1;login:0;"></div>
            </div>
        </div>
    </div>
    <div id="bottom-container" class="bottom-container ">
        <div class="copy-right">
            <div class="baidu-info">
                <a class="sethome" href="//www.baidu.com/cache/sethelp/index.html" target="_blank">
                    <span>设为首页</span></a>
                <span class="copyright-text">
              <span>&#169;&nbsp;Baidu&nbsp;</span>
              <a href="//www.baidu.com/duty/" target="_blank">使用百度前必读</a>&nbsp;
              <a href="http://jianyi.baidu.com" target="_blank">意见反馈</a>&nbsp;
              <span>京ICP证030173号&nbsp;</span>
              <img width=13 height=16 src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/copy_rignt_24.png" /></span>
            </div>
            <div class="recordcode">
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000001" target="_blank">
                    <i>
                    </i>京公网安备11000002000001号</a>
            </div>
        </div>
        <div class="back-to-top" data-showlog="tid:133;cst:1;logInfo:back_to_top;" data-clklog="tid:138;cst:2;logInfo:back_to_top;" data-extralog="rid:;pos:;extra:;isBaiJiaHao:1;login:0;" data-rid="back_to_top">
            <div class="icon-text">
                <span>返回顶部</span></div>
            <div class="icon-arrow">
                <span></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">window.onload = function() {
    var contentContainer = document.getElementById('content-container');
    var bottomContainer = document.getElementById('bottom-container');
    var rightContainer = document.getElementById('right-container');
    var minContentHeight = window.innerHeight - bottomContainer.offsetHeight;
    if (contentContainer.offsetHeight < minContentHeight) {
        contentContainer.style.height = minContentHeight + 'px';
        bottomContainer.className += ' fixed';
    }
    if (rightContainer.children.length === 0) {
        rightContainer.style.width = parseInt(rightContainer.offsetWidth + 1, 10) + 'px';
    }
};</script>
<script type="text/javascript" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/js/lib/jquery_0affbc1.js"></script>
<script type="text/javascript" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/js/land_min_pack_a8303a0.js"></script>
<script type="text/javascript" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superlanding/js/article/index_31f386d.js"></script>
</body>

</html>